@font-face {
  font-family: 'Avenir Next Cyr Bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/forest.jpg) no-repeat 50% 50%/cover;
  flex-direction: column;
  font-family: 'Avenir Next Cyr Bold', sans-serif;
}

.widget-container {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.25);
}

.city-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  flex-direction: column;
}

.city-card:nth-child(1) {
  background: #06b3db;
}

.city-card:nth-child(2) {
  background: #4ed486;
}

.city-card:nth-child(3) {
  background: #6139f6;
}

.city-card:nth-child(4) {
  background: #e3b63d;
}

.city-card:nth-child(5) {
  background: #dc3d66;
}

.city-card:nth-child(6) {
  background: #bd54cd;
}

.city-card:nth-child(5) .city-card__icon-container {
  margin: 0;
  height: 50%;
}

.city-card:nth-child(5) .city-card__icon {
  height: 63%;
}

.city-card__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 38%;
  margin-bottom: 8%;
}

.city-card__icon {
  -webkit-filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.25));
}

.city-card__text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.week-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background: #bd3559;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2) inset;
}

.day-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 65%;
  width: 15%;
  margin: 0 5px;
}

.day-forecast__text, .day-forecast__temp {
  font-size: 12px;
  color: #fff;
}

.day-forecast__icon {
  width: 24px;
  height: auto;
}

@media screen and (max-width: 660px) {
  html {
    height: auto;
  }
  .widget-container {
    width: calc(100% - 60px);
  }
  .city-card {
    width: 50%;
  }
}

@media screen and (min-height: 660px) and (min-width: 460px) {
  html {
    height: 100%;
  }
}

@media screen and (max-width: 460px) {
  .city-card {
    width: 100%;
    min-width: 250px;
    height: 250px;
  }
  .city-card__icon {
    height: 100%;
  }
  .city-card__text {
    font-size: 20px;
  }
  .day-forecast__icon {
    width: 30px;
  }
  .day-forecast__text, .day-forecast__temp {
    font-size: 16px;
  }
}
