// Declaration of variables, mixins etc.

$chicago_bg: #06b3db;
$seattle_bg: #4ed486;
$brooklyn_bg: #6139f6;
$portland_bg: #e3b63d;
$denver_bg: #dc3d66;
$denver_bg_darken: #bd3559;
$san-jose_bg: #bd54cd;

$city-colors: (
  nth-child(1): $chicago_bg,
  nth-child(2): $seattle_bg,
  nth-child(3): $brooklyn_bg,
  nth-child(4): $portland_bg,
  nth-child(5): $denver_bg,
  nth-child(6): $san-jose_bg
);

$small_shadow: 0px 1px 0px rgba(0,0,0,0.25);

@mixin bg-cover-center($path_to_img) {
  background: url(#{$path_to_img}) no-repeat 50% 50%/cover;
}

@mixin ie-grid-margin-auto {
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

@mixin ie-nodes-location($selector, $column, $row, $option) {
  $counter: 0;
  @for $i from 1 through $row {
    @for $j from 1 through $column {
      $counter: $counter + 1;
      #{$selector}#{$option}:nth-child(#{$counter}) {
      -ms-grid-row: $i;
      -ms-grid-column: $j;
      }
    }
  }
}

// Here comes the CSS

@font-face {
  font: {
    family: 'Avenir Next Cyr Bold';
    weight: normal;
    style: normal;
    display: swap;
  }
  src: url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  @include bg-cover-center("../images/forest.jpg");
  font-family: 'Avenir Next Cyr Bold', sans-serif;
}

.widget-block {
  @include ie-grid-margin-auto;
  @include ie-nodes-location('&', 3, 2, '');
  margin: auto;
  width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 200px 200px;
  grid-template-rows: repeat(2, 200px);
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.25);
}

.city-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 27.5% 45% 27.5%;
  grid-template-columns: 27.5% 45% 27.5%;
  -ms-grid-rows: 16% 44% 8% 10% 22%;
  grid-template-rows: 16% 44% 8% 10% 22%;

    @include ie-nodes-location('&', 3, 5, '');

    @each $elem, $city in $city-colors {
        &:#{$elem} {
          background: $city;
        }
    }
  
    &:nth-child(5) {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      -ms-grid-rows: 50% 50%;
      grid-template-rows: repeat(2, 50%);
  
      @include ie-nodes-location('&', 1, 2, ' > ');

      .city-card__figure {
        -ms-grid-column: 1;
        -ms-grid-column-align: center;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        display: -ms-grid;
        display: grid;
      }  
    }
  
    &__figure {
      -ms-grid-column: 2;
      -ms-grid-column-align: center;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      -ms-grid-rows: 1fr;
    }

    &__image {
      -webkit-filter: drop-shadow($small_shadow);
      filter: drop-shadow($small_shadow);
      @include ie-grid-margin-auto;
      margin: auto;
    }

    &__title {
      -ms-grid-column: 1;
      -ms-grid-column-align: center;
      -ms-grid-column-span: 3;
      grid-column: 1/4;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
      margin: auto;
      font: {
          size: 16px;
          weight: bold;
        }
        color: #fff;
        text-transform: uppercase;
        text-shadow: $small_shadow;
    }
}

.forecast-block {
  @include ie-nodes-location('&', 4, 1, ' > ');
  justify-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  padding: 4% 10%;
  background: $denver_bg_darken;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2) inset;

    &__item {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
    
        & > :nth-child(-n+3) {
          @include ie-grid-margin-auto;
          margin: auto;
        }
    
        @include ie-nodes-location('&', 1, 3, ' > ');
    
        &-title, &-info {
          font-size: 12px;
          color: #fff;
        }
    
        &-image {
          width: 24px;
          height: auto;
        }
    }
}

@media screen and (max-width: 660px) {
  html {
    height: auto;
  }
  .widget-block {
    width: calc(100% - 60px);
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 200px 200px 200px;
    grid-template-rows: repeat(3, 200px);

    @include ie-nodes-location('&', 2, 3, ' > *');
  }
}

@media screen and (min-height: 660px) and (min-width: 460px) {
  html {
    height: 100%;
  }
}

@media screen and (max-height: 1560px) and (max-width: 460px) {
  .widget-block {
    margin: 30px auto;
  }
}

@media screen and (max-width: 460px) {
  .widget-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 250px 250px 250px 250px 250px 250px;
    grid-template-rows: repeat(6, 250px);

    @include ie-nodes-location('&', 1, 6, ' > ');
  }
  
  .city-card {
    &:nth-child(5) {
      .city-card__image {
        height: 65%;
      }
    }

    &__image {
      height: 90%;
    }

    &__title {
      font-size: 20px;
    }
  }

  .forecast-block__item {
    &-image {
      width: 30px;
    }

    &-title, &-info {
      font-size: 16px;
    }
  }
}
